# gcc coverage testing tool files

*.gcno
*.gcda
*.gcov

*.diff
*.patch
*.orig
*.rej

*.a
*.dSYM
*.o
*.so
*~
*.exe
.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.tmp

.deps
.libs

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES

TAGS
TAGS.sub

.local.vimrc
.lvimrc

.clang-format

.gdbinit
.gdb_history

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found

# ignore ./contrib/gcc_update output
LAST_UPDATED
REVISION

# ignore in-tree prerequisites
/mpfr*
/mpc*
/gmp*
/isl*
.vscode/ipch/6f63d99723f41540/mmap_address.bin
.vscode/ipch/e6299ee523e28fdb/mmap_address.bin
.vscode/ipch/1a156ce54147db85/mmap_address.bin
.vscode/ipch/6c05b5c1b1644d81/mmap_address.bin
.vscode/ipch/c9b1e533260072/mmap_address.bin
.vscode/ipch/eec57fe528befe7c/mmap_address.bin
